In [1]:
!python --version

Python 3.11.9

# Data Manipulation with Python

Data manipulation (or Data Wrangling) involves all the previous steps before training a model. 

Real-world data has NAs, unnecessary columns or rows or even in formats that are not directly feedable to a machine learning model or graphing program.

To make the data available to those models we do Data Wrangling.

The most common library to do that is _pandas_.

In [ ]:
#!pip install pandas
import pandas as pd

## Pandas Recap

Yesterday's class showed you how to create/load a dataframe, modify elements, functions such as _head_, _info_, _shape_, _describe_, etc.

Let's refresh it.

In [7]:
# windows and linux (or osx) have different ways to handle paths

def os_path(name_dataset):
    import platform
    if platform.system() == "Windows":
        path = "datasets\\" + name_dataset 
    else:
        path = "./datasets/" + name_dataset
    
    return path

### Loading data

In [10]:
name_dataset = "olive_original.csv"

pd.read_csv(os_path(name_dataset))

,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic
0,Southern Italy,North-Apulia,10.75,0.75,2.26,78.23,6.72,0.36,0.60,0.29
1,Southern Italy,North-Apulia,10.88,0.73,2.24,77.09,7.81,0.31,0.61,0.29
2,Southern Italy,North-Apulia,9.11,0.54,2.46,81.13,5.49,0.31,0.63,0.29
3,Southern Italy,North-Apulia,9.66,0.57,2.40,79.52,6.19,0.50,0.78,0.35
4,Southern Italy,North-Apulia,10.51,0.67,2.59,77.71,6.72,0.50,0.80,0.46
...,...,...,...,...,...,...,...,...,...,...
567,Northern Italy,West-Liguria,12.80,1.10,2.90,74.90,7.90,0.10,0.10,0.02
568,Northern Italy,West-Liguria,10.60,1.00,2.70,77.40,8.10,0.10,0.10,0.03
569,Northern Italy,West-Liguria,10.10,0.90,2.10,77.20,9.70,0.00,0.00,0.02
570,Northern Italy,West-Liguria,9.90,1.20,2.50,77.50,8.70,0.10,0.10,0.02
571,Northern Italy,West-Liguria,9.60,0.80,2.40,79.50,7.40,0.10,0.20,0.02

### Pandas Dataframe methods

In [18]:
df = pd.read_csv(os_path(name_dataset))
# first few rows by default 5
df.head()
df.tail()
df.info()
df.shape
df.columns
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 572 entries, 0 to 571
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   region       572 non-null    object
 1   area         572 non-null    object
 2   palmitic     572 non-null    float64
 3   palmitoleic  572 non-null    float64
 4   stearic      572 non-null    float64
 5   oleic        572 non-null    float64
 6   linoleic     572 non-null    float64
 7   linolenic    572 non-null    float64
 8   arachidic    572 non-null    float64
 9   eicosenoic   572 non-null    float64
dtypes: float64(8), object(2)
memory usage: 44.8+ KB

,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic
count,572.000000,572.000000,572.000000,572.000000,572.000000,572.000000,572.000000,572.000000
mean,12.317413,1.260944,2.288654,73.117483,9.805280,0.318881,0.580979,0.162815
std,1.685923,0.524944,0.367449,4.058102,2.427992,0.129687,0.220302,0.140833
min,6.100000,0.150000,1.520000,63.000000,4.480000,0.000000,0.000000,0.010000
25%,10.950000,0.877500,2.050000,70.000000,7.707500,0.260000,0.500000,0.020000
50%,12.010000,1.100000,2.230000,73.025000,10.300000,0.330000,0.610000,0.170000
75%,13.600000,1.692500,2.490000,76.800000,11.807500,0.402500,0.700000,0.280000
max,17.530000,2.800000,3.750000,84.100000,14.700000,0.740000,1.050000,0.580000

### Slicing a dataframe

In [34]:
df["palmitic"]
df.palmitic
df["palmitic"][0]
df.iloc[:5, 2]
df.loc[:5, :"palmitic"] # Note that contrary to usual python slices, both the start and the stop are included

           region          area  palmitic
0  Southern Italy  North-Apulia     10.75
1  Southern Italy  North-Apulia     10.88
2  Southern Italy  North-Apulia      9.11
3  Southern Italy  North-Apulia      9.66
4  Southern Italy  North-Apulia     10.51
5  Southern Italy  North-Apulia      9.11

# Duplicates and NAs
https://www.kaggle.com/code/sabrinamacaluso/data-cleaning-missing-and-duplicated-values/input

In [36]:
name_dataset_dirty = "hotel_bookings.csv"

df_dirty = pd.read_csv(os_path(name_dataset_dirty))
df_dirty.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,103050.000000,6797.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,86.693382,189.266735,2.321149,101.831122,0.062518,0.571363
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,110.774548,131.655015,17.594721,50.535790,0.245291,0.792798
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,179.000000,0.000000,94.575000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

In [39]:
df_dirty.isnull().sum().sort_values(ascending=False)

company                           112593
agent                              16340
country                              488
children                               4
arrival_date_month                     0
arrival_date_week_number               0
hotel                                  0
is_canceled                            0
stays_in_weekend_nights                0
arrival_date_day_of_month              0
adults                                 0
stays_in_week_nights                   0
babies                                 0
meal                                   0
lead_time                              0
arrival_date_year                      0
distribution_channel                   0
market_segment                         0
previous_bookings_not_canceled         0
is_repeated_guest                      0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
previous_cancellations                 0
deposit_type                           0
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [ ]:
for letter in "python":
    print(letter)

import numpy as np


ar = np.array([2,3,8])
for n in ar:
    print(n)
    if n <= 5:
        n  += 1 # needs the index to introduce the new value
    else:
        n -= 1

print(ar)

p
y
t
h
o
n
2
3
8
[2 3 8]

# Filters, selecting by condition, order

# Aggregation: Groupby and functions

Aggregation functions are the ones that reduce the dimension of the dataframe.

e.g.: mean, sum, size, min, max, etc.

# Long and Wide dataframes

Wide datasets are better to store information that's why you will most likely see dataframes in this format. But long datasets are very useful for some functions like plotting libraries or Exploratory Data Analysis.

Let's use medical datasets as an example: 

    + Each row represents a patient

Some functions work